@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* ---Mobile--- */
* {
  text-overflow: ellipsis;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  padding: 0;
  margin: 0;
}

.main {
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-dark {
  background-color: black;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
  border: none;
  text-decoration: none; 
  background: none;
  text-decoration: none; 
  background: none;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 5px;  
  margin: auto;
  margin-bottom: 25px;
}

.icon-theme {
  width: 20px;
  height: 20px;
  object-fit: cover;
  background-position: center;
  background-size: cover; 
}

.icon-theme-container {
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none; 
    background: none;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar {
  width: 80vw;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.navlink-link {
  margin-left: 20px;
  text-align: center;
}

.navlink-link-text {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.navlink-link-text-dark {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.navlink-button {
  margin-left: 25px;
  text-align: center;
  min-width: 140px; 
  width: 140px; 
  height: 45px;
  background: linear-gradient(106.14deg, rgba(224, 48, 47, 0.9) 27.24%, rgba(48, 128, 219, 0.9) 80.06%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 1px;
  background-clip:padding-box;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );

	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navlink-button-text {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.hero {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  max-width: 835px;
  background: linear-gradient(129.3deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 87.49%);
  border-radius: 30px 30px 30px 30px;
  padding: 40px 20px;
}

.hero {
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

.hero-dark {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  max-width: 835px;
  background: #18181c;
  border-radius: 30px 30px 30px 30px;
  padding: 40px 20px;
}

.hero-dark {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0.7;
  }
  to {
    opacity: 1;
  }
}

.hero-about {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  max-width: 835px;
  background: #f7f7f7;
  border-radius: 30px 30px 30px 30px;
  padding: 40px 20px;
}

.hero-about {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0.7;
  }
  to {
    opacity: 1;
  }
}

.hero-about-dark {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  max-width: 835px;
  background: #18181c;
  border-radius: 30px 30px 30px 30px;
  padding: 40px 20px;
}

.hero-about-dark {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0.7;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0.7;
  }
  to {
    opacity: 1;
  }
}

.hero-heading {
  color: white;
  font-weight: 700;
  font-size: calc(40px - 0.85vw);
  margin: 0px 20px;
}

.hero-heading-dark {
  font-weight: 700;
  font-size: calc(40px - 0.85vw);
  margin: 0px 20px;
  background-image: linear-gradient(90deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 50%);    
  background-clip: text;
  color: transparent;
}

.hero-heading-about {
  font-weight: 700;
  font-size: calc(40px - 0.85vw);
  margin: 0px 20px;
  background-image: linear-gradient(90deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 50%);    
  background-clip: text;
  color: transparent;
}

.hero-paragraph-regular {
  color: white;
  font-weight: 400;
  font-size: calc(16px - 0.025vw);
  margin: 0px 20px;
}

.hero-paragraph-regular-about {
  color: black;
  font-weight: 400;
  font-size: calc(16px - 0.025vw);
  margin: 0px 20px;
}

.hero-paragraph-regular-about-dark {
  color: white;
  font-weight: 400;
  font-size: calc(16px - 0.025vw);
  margin: 0px 20px;
}

.hero-paragraph-bold {
  color: white;
  font-weight: 500;
  font-size: calc(16px - 0.025vw);
  margin: 0px 20px;
}

.hero-button-group {
  margin: 0px 20px;
}

.hero-button {
  margin-right: 10px;
  width: 80vw;
  height: 45px;
  margin-bottom: 15px;
}

.hero-button.primary {
  color: white;
  background: linear-gradient(106.14deg, rgba(224, 48, 47, 0.9) 27.24%, rgba(48, 128, 219, 0.9) 80.06%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 1px;
  background-clip:padding-box;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );

  color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.hero-button.secondary {
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 1px;
  background-clip:padding-box;
}

.footer {
  position: fixed;
  bottom: 0px;
  
}

.space {
  padding-top: 25px;
}

/* --- Mobile (landscape) --- */
@media only screen and (min-width: 800px) and (orientation: landscape) { 
  .hero {
    border-radius: 30px 30px 200px 30px;
  }

  .hero-about {
    border-radius: 30px 30px 200px 30px;
  }

  .hero-button {
    margin-right: 10px;
    width: 140px;
    height: 45px;
  }
}

/* --- Tablets (portrait) --- */
@media only screen and (min-width: 800px) and (min-height: 600px) {  
  .logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-bottom: 0px;
  }

  .icon-theme {
    width: 20px;
    height: 20px;
    object-fit: cover;
    background-position: center;
    background-size: cover;  
    margin-left: 20px;
  }
  
  .navbar {
    width: 70vw;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    display: flex;
    
    align-items: right;
    margin: auto;
    margin-right: 0px;
    justify-content: center;
  }

  .navlink-link {
    margin-left: 40px;
    text-align: center;
  }
  
  .navlink-link-text {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }

  .navlink-link-text-dark {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
  
  .navlink-button {
    margin-left: 40px;
    text-align: center;
    min-width: 140px; 
    width: 140px; 
    height: 45px;
    background: linear-gradient(106.14deg, rgba(224, 48, 47, 0.9) 27.24%, rgba(48, 128, 219, 0.9) 80.06%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 1px;
    background-clip:padding-box;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
  
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .content {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  } 

  .hero {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 90vw;
    max-width: 835px;
    background: linear-gradient(129.3deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 87.49%);
    border-radius: 30px 30px 200px 30px;
    padding: 40px 30px;
  }

  .hero-dark {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 90vw;
    max-width: 835px;
    background: #18181c;
    border-radius: 30px 30px 200px 30px;
    padding: 40px 30px;
  }

  .hero-about {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 90vw;
    max-width: 835px;
    background: #f7f7f7;
    border-radius: 30px 30px 30px 30px;
    padding: 40px 30px;
  }

  .hero-about-dark {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 90vw;
    max-width: 835px;
    background: #18181c;
    border-radius: 30px 30px 30px 30px;
    padding: 40px 30px;
  }

  .hero-heading {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin: 0px 20px;
  }

  .hero-heading-dark {
    font-weight: 700;
    font-size: 40px;
    margin: 0px 20px;
    background-image: linear-gradient(90deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 50%);    
    background-clip: text;
    color: transparent;
  }

  .hero-heading-about {
    font-weight: 700;
    font-size: 40px;
    margin: 0px 20px;
    background-image: linear-gradient(90deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 50%);    
    background-clip: text;
    color: transparent;
  }

  .hero-paragraph-regular {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 20px;
  }

  .hero-paragraph-regular-about {
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 20px;
  }
  .hero-paragraph-regular-about-dark {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 20px;
  }

  .hero-paragraph-bold {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 20px;
  }

  .hero-button-group {
    margin: 0px 20px;
    margin-bottom: 40px;
  }

  .hero .hero-button-group {
    justify-content: space-between;
    display: flex;
    align-items:flex-end;
    align-self: flex-start;
  }

  .hero-about .hero-button-group {
    justify-content: space-between;
    display: flex;
    align-items:flex-end;
    align-self: flex-start;
  }

  .hero-button {
    margin-right: 10px;
    width: 140px;
    height: 45px;
  }
}

/* --- Tablets (landscape) and Laptops --- */
@media only screen and (min-width: 950px) {  
  .logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    margin: auto;
    margin-bottom: 0px;
  }

  .icon-theme {
    width: 20px;
    height: 20px;
    object-fit: cover;
    background-position: center;
    background-size: cover;  
    margin-left: 20px;
  }
  
  .navbar {
    max-width: 705px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    display: flex;
    align-items: right;
    margin: auto;
    margin-right: 0px;
    justify-content: center;
  }

  .navlink-link {
    margin-left: 40px;
    text-align: center;
  }
  
  .navlink-link-text {
    color: black;
    font-size: 16px;
    font-weight: 400;
  }

  .navlink-link-text-dark {
    color: white;
    font-size: 16px;
    font-weight: 400;
  }
  
  .navlink-button {
    margin-left: 40px;
    text-align: center;
    min-width: 140px; 
    width: 140px; 
    height: 45px;
    background: linear-gradient(106.14deg, rgba(224, 48, 47, 0.9) 27.24%, rgba(48, 128, 219, 0.9) 80.06%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 1px;
    background-clip:padding-box;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
  
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .hero {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
    max-width: 835px;
    background: linear-gradient(129.3deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 87.49%);
    border-radius: 30px 30px 200px 30px;
    padding: 50px 50px;
  }

  .hero-dark {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
    max-width: 835px;
    background: #18181c;
    border-radius: 30px 30px 200px 30px;
    padding: 50px 50px;
  }

  .hero-about {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
    max-width: 835px;
    background: #f7f7f7;
    border-radius: 30px 30px 30px 30px;
    padding: 50px 50px;
  }

  .hero-about-dark {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100vw;
    max-width: 835px;
    background: #18181c;
    border-radius: 30px 30px 30px 30px;
    padding: 50px 50px;
  }

  .hero-heading {
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin: 0px 20px;
  }

  .hero-heading-dark {
    font-weight: 700;
    font-size: 40px;
    margin: 0px 20px;
    background-image: linear-gradient(90deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 50%);    
    background-clip: text;
    color: transparent;
  }

  .hero-heading-about {
    font-weight: 700;
    font-size: 40px;
    margin: 0px 20px;
    background-image: linear-gradient(90deg, rgba(255, 15, 14, 0.9) 2.1%, rgba(27, 119, 223, 0.9) 50%);    
    background-clip: text;
    color: transparent;
  }

  .hero-paragraph-regular {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 20px;
  }

  .hero-paragraph-regular-about {
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 20px;
  }

  .hero-paragraph-regular-about-dark {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 20px;
  }

  .hero-paragraph-bold {
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin: 0px 20px;
  }

  .hero-button-group {
    margin: 0px 20px;
  }

  .hero .hero-button-group {
    justify-content: space-between;
    display: flex;
    align-items:flex-end;
    align-self: flex-start;
  }

  .hero-about .hero-button-group {
    justify-content: space-between;
    display: flex;
    align-items:flex-end;
    align-self: flex-start;
  }

  .hero-button {
    margin-right: 10px;
    width: 140px;
    height: 45px;
  }
}